Repository FC-Chilli-Bubble/front-officener, pull requests merged in 2023-10, with the labels that each got.

#70 [Feat] 함께배달 메인페이지 api 연동, 필터링 기능
  .gitignore
  src/apis/Delivery/deliveryChat.ts
  src/apis/Delivery/deliverylist.ts
  src/apis/Delivery/getJoinedRooms.ts
  src/assets/food/ASIAN.svg
  src/assets/food/BAEKBAN.svg
  src/assets/food/BUNSIK.svg
  src/assets/food/CAFE.svg
  src/assets/food/CHICKEN.svg
  src/assets/food/CHINESE.svg
  src/assets/food/DOSIRAK.svg
  src/assets/food/MEET.svg
  src/assets/food/PIZZA.svg
  src/assets/food/PORKFEET.svg
  src/assets/food/SUSHI.svg
  src/assets/food/ZZIM.svg
  src/components/Delivery/FoodItem.tsx
  src/components/Delivery/MenuContent.tsx
  src/components/Delivery/OrderList.tsx
  src/components/Delivery/TogetherDelivery.tsx
  src/components/Details/Header.tsx
  src/components/Details/HostInfo.tsx
  src/components/Details/StoreInfo.tsx
  src/constants/commonUiData.ts
  src/pages/Deliverypage/DeliveryPage.tsx
  src/pages/Deliverypage/DetailsPage.tsx
  src/pages/Deliverypage/dummyData.ts
  src/states/rommsAtom.ts
  src/types/Delivery/IDeliveryChat.ts
  src/types/Delivery/IDeliveryList.ts
Labels: 🎨 Html&css, 📬 API, 🔨 Refactor, ✨ Feature

#72 [Fix] 멘토링 피드백 반영
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.tsx
  src/apis/Delivery/deliveryChat.ts
  src/apis/Delivery/deliveryPostRequests.ts
  src/apis/Delivery/getJoinedRooms.ts
  src/components/Common/BottomNavigation.tsx
  src/components/Common/NavLayout.tsx
  src/components/Delivery/MenuContent.tsx
  src/hooks/useAxiosInterceptor.tsx
  src/pages/Delivery/DeliveryPost.tsx
  src/pages/Deliverypage/DeliveryPage.tsx
  src/pages/Deliverypage/DetailsPage.tsx
  src/states/userDataAtom.ts
  src/styles/GlobalStyles.ts
  src/types/Common/IErrorResponse.ts
Labels: 🥰 Accessibility, 🔨 Refactor, 🐞 BugFix

#75 Feature/chat
  src/apis/ChatRoom/ChatDeclarationApis.ts
  src/apis/ChatRoom/ChatEnterApi.ts
  src/apis/ChatRoom/ChatExitApis.tsx
  src/apis/ChatRoom/ChatHeaderButtonApis.ts
  src/components/ChatRoom/ChatBubble/ChatAlert.tsx
  src/components/ChatRoom/ChatBubble/ChatBubble.tsx
  src/components/ChatRoom/ChatBubble/ChatBubbleRender.tsx
  src/components/ChatRoom/ChatDeclaration/ChatDeclarationStepCategory.tsx
  src/components/ChatRoom/ChatDeclaration/ChatDeclarationStepDetail.tsx
  src/components/ChatRoom/ChatFunctions.ts
  src/components/ChatRoom/ChatHeader/ChatHeader.tsx
  src/components/ChatRoom/ChatHeader/ChatHeaderBottomSheet.tsx
  src/components/ChatRoom/ChatInput.tsx
  src/components/ChatRoom/ChatProfile/ChatProfile.tsx
  src/components/ChatRoom/ChatProfile/ChatProfileModal.tsx
  src/constants/chatRoomModalData.ts
  src/constants/declarationCategory.ts
  src/hooks/useMemberInfo.ts
  src/pages/ChatRoom/ChatRoom.tsx
  src/states/chatBottomSheetAtom.ts
  src/states/chatDeclarationAtom.ts
  src/states/chatRoomdataAtom.ts
  src/types/Chatroom/IChatContent.ts
  src/types/Chatroom/IExit.ts
Labels: 📬 API, 🐞 BugFix

#76 [Feat] 알림 API 연동 반영
  src/apis/Notify/notifyRequests.ts
  src/components/Notification/NotificationItem.tsx
  src/constants/commonUiData.ts
  src/constants/modalDatas.ts
  src/hooks/useAxiosInterceptor.tsx
  src/pages/Notification/DummyNotifications.ts
  src/pages/Notification/Notification.tsx
  src/states/notificationsAtom.ts
  src/types/Notify/INotification.ts
Labels: 📬 API, ✨ Feature

#82 Feature/chat
  src/apis/ChatRoom/ChatDeclarationApis.ts
  src/apis/ChatRoom/ChatEnterApi.ts
  src/apis/ChatRoom/ChatHeaderButtonApis.ts
  src/components/ChatRoom/ChatBubble/ChatAlert.tsx
  src/components/ChatRoom/ChatBubble/ChatBubble.tsx
  src/components/ChatRoom/ChatBubble/ChatBubbleRender.tsx
  src/components/ChatRoom/ChatDeclaration/ChatDeclarationStepDetail.tsx
  src/components/ChatRoom/ChatHeader/ChatHeader.tsx
  src/components/ChatRoom/ChatInput.tsx
  src/components/Delivery/ChatItem.tsx
  src/components/Delivery/MenuContent.tsx
  src/hooks/useMemberInfo.ts
  src/pages/ChatRoom/ChatRoom.tsx
  src/states/chatDeclarationAtom.ts
  src/states/chatRoomdataAtom.ts
  src/types/Chatroom/IChatContent.ts
  src/types/Chatroom/IDeclarationData.ts
  src/utils/Router.tsx
Labels: 📬 API, 🔨 Refactor

#83 [Feat/Fix] 함께배달 목록 관련 이슈 수정 및 남은 기능 개발
  src/apis/Delivery/deliveryChat.ts
  src/apis/Delivery/deliveryDetailRequests.ts
  src/apis/Delivery/deliverylist.ts
  src/apis/Delivery/getJoinedRooms.ts
  src/assets/ico_back_w.svg
  src/components/Delivery/ChatItem.tsx
  src/components/Delivery/DeadLineItem.tsx
  src/components/Delivery/FoodItem.tsx
  src/components/Delivery/MenuContent.tsx
  src/components/Delivery/OrderList.tsx
  src/components/Delivery/PostStepDeliveryInfo.tsx
  src/components/Delivery/TogetherDelivery.tsx
  src/components/Details/DetailHeader.tsx
  src/constants/commonUiData.ts
  src/constants/modalDatas.ts
  src/pages/Delivery/DeliveryPost.tsx
  src/pages/Deliverypage/DeliveryPage.tsx
  src/pages/Deliverypage/DetailsPage.tsx
  src/pages/Deliverypage/dummyData.ts
  src/pages/Notification/Notification.tsx
  src/states/rommsAtom.ts
Labels: 📬 API, 🔨 Refactor, 🐞 BugFix, ✨ Feature

#85 [Feat] 엘리베이터 설정 및 메인화면 API 수정사항 반영
  src/apis/Elevator/elevatorGetRequests.ts
  src/apis/Elevator/elevatorRequests.ts
  src/assets/icon_elevatorDown.svg
  src/components/Elevator/ChoiceCard.tsx
  src/components/Elevator/ElevatorTagList.tsx
  src/components/Elevator/FloorList.tsx
  src/components/Elevator/MissingCard.tsx
  src/constants/modalDatas.ts
  src/pages/Elevator/ElevatorHome.tsx
  src/pages/Login/Login.tsx
  src/states/elevatorAtom.ts
  src/states/floorAtom.ts
  src/types/Elevator/IElevator.ts
Labels: 📬 API, ✨ Feature

#86 [Fix] 인풋 오류 해결
  src/components/ChatRoom/ChatInput.tsx
Labels: 🐞 BugFix

#88 🐛 bug: 상세페이지 이미지 수정
  src/components/Details/StoreInfo.tsx
Labels: 🎨 Html&css, 🐞 BugFix

#91 :bug:fix:로그인성공랜딩경로변경
  src/components/Signup/SignupStep6.tsx
  src/pages/Login/Login.tsx
Labels: 🐞 BugFix

#94 [Fix] 채팅룸 헤더 api 연결 및 ui 이슈 수정
  src/apis/ChatRoom/ChatDeclarationApis.ts
  src/apis/dummy_ChatAPI.ts
  src/components/ChatRoom/ChatBubble/ChatAlert.tsx
  src/components/ChatRoom/ChatBubble/ChatBubble.tsx
  src/components/ChatRoom/ChatBubble/ChatBubbleRender.tsx
  src/components/ChatRoom/ChatDeclaration/ChatDeclarationStepDetail.tsx
  src/components/ChatRoom/ChatHeader/ChatHeader.tsx
  src/components/Delivery/ChatItem.tsx
  src/pages/ChatRoom/ChatRoom.tsx
Labels: 🎨 Html&css, 📬 API, 🔨 Refactor, 🐞 BugFix

#95 Fix/elevator
  src/components/Common/BottomSheetModal.tsx
  src/pages/Elevator/ElevatorHome.tsx
Labels: 🐞 BugFix

#96 [Feat] FCM 알림 연동
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/App.tsx
  src/apis/Notify/notifyRequests.ts
  src/firebase-messaging-sw.ts
  src/hooks/useFcmToken.tsx
  src/pages/Login/Login.tsx
  src/states/fcmTokenAtom.ts
  src/types/Notify/INotification.ts
  src/utils/getFcmToken.tsx
  src/utils/index.ts
  tsconfig.json
Labels: 📬 API, ✨ Feature

#98 Feature/chatroom exit
  src/apis/ChatRoom/ChatExitApis.ts
  src/apis/ChatRoom/ChatExitApis.tsx
  src/components/ChatRoom/ChatHeader/ChatHeaderBottomSheet.tsx
  src/firebase-messaging-sw.ts
  src/hooks/useMemberInfo.ts
  src/pages/ChatRoom/ChatRoom.tsx
  src/states/chatRoomdataAtom.ts
  src/types/Chatroom/IChatContent.ts
  src/types/Chatroom/IExit.ts
Labels: 📬 API

#100 [Fix] 채팅방 자잘한 버그 수정
  src/apis/ChatRoom/ChatExitApis.ts
  src/components/ChatRoom/ChatBubble/ChatBubble.tsx
  src/components/ChatRoom/ChatHeader/ChatHeader.tsx
  src/components/ChatRoom/ChatHeader/ChatHeaderBottomSheet.tsx
  src/components/ChatRoom/ChatProfile/ChatProfile.tsx
  src/constants/chatRoomModalData.ts
  src/hooks/useMemberInfo.ts
  src/pages/ChatRoom/ChatRoom.tsx
  src/types/Chatroom/IChatContent.ts
Labels: 📬 API, 🐞 BugFix

#101 [Fix] Fcm 토큰 서버 등록 에러 수정
  src/hooks/useFcmToken.tsx
  src/pages/Login/Login.tsx
Labels: 🐞 BugFix

#106 [Refactor] 알림 목록 조회 스켈레톤 UI 추가
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/components/Common/ DeferredComponent.tsx
  src/components/Notification/NotificationItem.tsx
  src/components/Notification/NotificationSkeleton.tsx
  src/pages/Notification/Notification.tsx
Labels: 🔨 Refactor, 🐞 BugFix
